# dependencies
node_modules/
/src/generated/prisma

# build output
dist/
.prisma/

# env files
.env
.env.*
!.env.example

# Editor directories and files
.vscode/*
!.vscode/extensions.json

# Internal documents
docs/REF.md